<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="sys-comment-heading" data-cy="CommentCreateUpdateHeading" sysTranslate="pilotApp.comment.home.createOrEditLabel">
        Create or edit a Comment
      </h2>

      <div>
        <sys-alert-error></sys-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" sysTranslate="pilotApp.comment.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let textRef = editForm.get('text')!;
        <div class="mb-3">
          <label class="form-label" for="field_text" sysTranslate="pilotApp.comment.text">Text</label>
          <input type="text" class="form-control" name="text" id="field_text" data-cy="text" formControlName="text" />
          @if (textRef.invalid && (textRef.dirty || textRef.touched)) {
            <div>
              @if (editForm.get('text')?.errors?.required) {
                <small class="form-text text-danger" sysTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_task" sysTranslate="pilotApp.comment.task">Task</label>
          <select class="form-control" id="field_task" data-cy="task" name="task" formControlName="task" [compareWith]="compareTask">
            @if (editForm.get(['task'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (taskOption of tasksSharedCollection; track $index) {
              <option [ngValue]="taskOption">{{ taskOption.title }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['task'])!.invalid && (editForm.get(['task'])!.dirty || editForm.get(['task'])!.touched)) {
          <div>
            @if (editForm.get(['task'])?.errors?.required) {
              <small class="form-text text-danger" sysTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span sysTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span sysTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
