<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (party(); as partyRef) {
      <div>
        <h2 data-cy="partyDetailsHeading"><span sysTranslate="pilotApp.party.detail.title">Party</span></h2>

        <hr />

        <sys-alert-error></sys-alert-error>

        <sys-alert></sys-alert>

        <dl class="row-md jh-entity-details">
          <dt><span sysTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ partyRef.id }}</span>
          </dd>
          <dt><span sysTranslate="pilotApp.party.firstName">First Name</span></dt>
          <dd>
            <span>{{ partyRef.firstName }}</span>
          </dd>
          <dt><span sysTranslate="pilotApp.party.lastName">Last Name</span></dt>
          <dd>
            <span>{{ partyRef.lastName }}</span>
          </dd>
          <dt><span sysTranslate="pilotApp.party.displayName">Display Name</span></dt>
          <dd>
            <span>{{ partyRef.displayName }}</span>
          </dd>
          <dt><span sysTranslate="pilotApp.party.email">Email</span></dt>
          <dd>
            <span>{{ partyRef.email }}</span>
          </dd>
          <dt><span sysTranslate="pilotApp.party.dob">Dob</span></dt>
          <dd>
            <span>{{ partyRef.dob | formatMediumDate }}</span>
          </dd>
          <dt><span sysTranslate="pilotApp.party.notes">Notes</span></dt>
          <dd>
            <span>{{ partyRef.notes }}</span>
          </dd>
          <dt><span sysTranslate="pilotApp.party.mobileNumber">Mobile Number</span></dt>
          <dd>
            <span>{{ partyRef.mobileNumber }}</span>
          </dd>
          <dt><span sysTranslate="pilotApp.party.employeeId">Employee Id</span></dt>
          <dd>
            <span>{{ partyRef.employeeId }}</span>
          </dd>
          <dt><span sysTranslate="pilotApp.party.login">Login</span></dt>
          <dd>
            <span>{{ partyRef.login }}</span>
          </dd>
          <dt><span sysTranslate="pilotApp.party.user">User</span></dt>
          <dd>
            <span>{{ partyRef.user?.login }}</span>
          </dd>
          <dt><span sysTranslate="pilotApp.party.status">Status</span></dt>
          <dd>
            @if (party()!.status) {
              <div>
                <a [routerLink]="['/status', party()!.status?.id, 'view']">{{ partyRef.status?.name }}</a>
              </div>
            }
          </dd>
          <dt><span sysTranslate="pilotApp.party.partyType">Party Type</span></dt>
          <dd>
            @if (party()!.partyType) {
              <div>
                <a [routerLink]="['/party-type', party()!.partyType?.id, 'view']">{{ partyRef.partyType?.name }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span sysTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/party', partyRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span sysTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
