<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (sprint(); as sprintRef) {
      <div>
        <h2 data-cy="sprintDetailsHeading"><span sysTranslate="pilotApp.sprint.detail.title">Sprint</span></h2>

        <hr />

        <sys-alert-error></sys-alert-error>

        <sys-alert></sys-alert>

        <dl class="row-md jh-entity-details">
          <dt><span sysTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ sprintRef.id }}</span>
          </dd>
          <dt><span sysTranslate="pilotApp.sprint.name">Name</span></dt>
          <dd>
            <span>{{ sprintRef.name }}</span>
          </dd>
          <dt><span sysTranslate="pilotApp.sprint.startDate">Start Date</span></dt>
          <dd>
            <span>{{ sprintRef.startDate | formatMediumDate }}</span>
          </dd>
          <dt><span sysTranslate="pilotApp.sprint.endDate">End Date</span></dt>
          <dd>
            <span>{{ sprintRef.endDate | formatMediumDate }}</span>
          </dd>
          <dt><span sysTranslate="pilotApp.sprint.goal">Goal</span></dt>
          <dd>
            <span>{{ sprintRef.goal }}</span>
          </dd>
          <dt><span sysTranslate="pilotApp.sprint.totalPoints">Total Points</span></dt>
          <dd>
            <span>{{ sprintRef.totalPoints }}</span>
          </dd>
          <dt><span sysTranslate="pilotApp.sprint.project">Project</span></dt>
          <dd>
            @if (sprint()!.project) {
              <div>
                <a [routerLink]="['/project', sprint()!.project?.id, 'view']">{{ sprintRef.project?.name }}</a>
              </div>
            }
          </dd>
          <dt><span sysTranslate="pilotApp.sprint.status">Status</span></dt>
          <dd>
            @if (sprint()!.status) {
              <div>
                <a [routerLink]="['/status', sprint()!.status?.id, 'view']">{{ sprintRef.status?.name }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span sysTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/sprint', sprintRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span sysTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
