<div>
  <h2 id="page-heading" data-cy="TeamVelocityHeading">
    <span sysTranslate="pilotApp.teamVelocity.home.title">Team Velocities</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span sysTranslate="pilotApp.teamVelocity.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-team-velocity"
        [routerLink]="['/team-velocity/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span sysTranslate="pilotApp.teamVelocity.home.createLabel">Create a new Team Velocity</span>
      </button>
    </div>
  </h2>

  <sys-alert-error></sys-alert-error>

  <sys-alert></sys-alert>

  <sys-filter [filters]="filters"></sys-filter>

  @if (teamVelocities?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span sysTranslate="pilotApp.teamVelocity.home.notFound">No Team Velocities found</span>
    </div>
  }

  @if (teamVelocities && teamVelocities.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr sysSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" sysSortBy="id">
              <div class="d-flex">
                <span sysTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" sysSortBy="sprintVelocity">
              <div class="d-flex">
                <span sysTranslate="pilotApp.teamVelocity.sprintVelocity">Sprint Velocity</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" sysSortBy="averageVelocity">
              <div class="d-flex">
                <span sysTranslate="pilotApp.teamVelocity.averageVelocity">Average Velocity</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" sysSortBy="sprint.name">
              <div class="d-flex">
                <span sysTranslate="pilotApp.teamVelocity.sprint">Sprint</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (teamVelocity of teamVelocities; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/team-velocity', teamVelocity.id, 'view']">{{ teamVelocity.id }}</a>
              </td>
              <td>{{ teamVelocity.sprintVelocity }}</td>
              <td>{{ teamVelocity.averageVelocity }}</td>
              <td>
                @if (teamVelocity.sprint) {
                  <div>
                    <a [routerLink]="['/sprint', teamVelocity.sprint.id, 'view']">{{ teamVelocity.sprint.name }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/team-velocity', teamVelocity.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" sysTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/team-velocity', teamVelocity.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" sysTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(teamVelocity)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" sysTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (teamVelocities && teamVelocities.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <sys-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></sys-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
