<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="sys-attachment-heading" data-cy="AttachmentCreateUpdateHeading" sysTranslate="pilotApp.attachment.home.createOrEditLabel">
        Create or edit a Attachment
      </h2>

      <div>
        <sys-alert-error></sys-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" sysTranslate="pilotApp.attachment.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let nameRef = editForm.get('name')!;
        <div class="mb-3">
          <label class="form-label" for="field_name" sysTranslate="pilotApp.attachment.name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          @if (nameRef.invalid && (nameRef.dirty || nameRef.touched)) {
            <div>
              @if (editForm.get('name')?.errors?.maxlength) {
                <small class="form-text text-danger" sysTranslate="entity.validation.maxlength" [translateValues]="{ max: '25' }"
                  >This field cannot be longer than 25 characters.</small
                >
              }
            </div>
          }
        </div>

        @let fileAttachmentRef = editForm.get('fileAttachment')!;
        <div class="mb-3">
          <label class="form-label" for="field_fileAttachment" sysTranslate="pilotApp.attachment.fileAttachment">File Attachment</label>
          <div>
            @if (fileAttachmentRef.value) {
              <div class="form-text text-danger clearfix">
                <a
                  class="pull-start"
                  (click)="openFile(fileAttachmentRef.value!, editForm.get('fileAttachmentContentType')!.value!)"
                  sysTranslate="entity.action.open"
                  >Open</a
                ><br />
                <span class="pull-start"
                  >{{ editForm.get('fileAttachmentContentType')!.value }}, {{ byteSize(fileAttachmentRef.value!) }}</span
                >
                <button
                  type="button"
                  (click)="editForm.patchValue({ fileAttachment: undefined, fileAttachmentContentType: undefined })"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_fileAttachment"
              data-cy="fileAttachment"
              (change)="setFileData($event, 'fileAttachment', false)"
              sysTranslate="entity.action.addblob"
            />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="fileAttachment"
            id="field_fileAttachment"
            data-cy="fileAttachment"
            formControlName="fileAttachment"
          />
          <input
            type="hidden"
            class="form-control"
            name="fileAttachmentContentType"
            id="field_fileAttachmentContentType"
            formControlName="fileAttachmentContentType"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_attachmentUrl" sysTranslate="pilotApp.attachment.attachmentUrl">Attachment Url</label>
          <input
            type="text"
            class="form-control"
            name="attachmentUrl"
            id="field_attachmentUrl"
            data-cy="attachmentUrl"
            formControlName="attachmentUrl"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_mimeType" sysTranslate="pilotApp.attachment.mimeType">Mime Type</label>
          <input type="text" class="form-control" name="mimeType" id="field_mimeType" data-cy="mimeType" formControlName="mimeType" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span sysTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span sysTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
