<div>
  <h2 id="page-heading" data-cy="SprintAttachmentHeading">
    <span sysTranslate="pilotApp.sprintAttachment.home.title">Sprint Attachments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span sysTranslate="pilotApp.sprintAttachment.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sprint-attachment"
        [routerLink]="['/sprint-attachment/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span sysTranslate="pilotApp.sprintAttachment.home.createLabel">Create a new Sprint Attachment</span>
      </button>
    </div>
  </h2>

  <sys-alert-error></sys-alert-error>

  <sys-alert></sys-alert>

  @if (sprintAttachments?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span sysTranslate="pilotApp.sprintAttachment.home.notFound">No Sprint Attachments found</span>
    </div>
  }

  @if (sprintAttachments && sprintAttachments.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr sysSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" sysSortBy="id">
              <div class="d-flex">
                <span sysTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" sysSortBy="sprint.name">
              <div class="d-flex">
                <span sysTranslate="pilotApp.sprintAttachment.sprint">Sprint</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" sysSortBy="attachment.id">
              <div class="d-flex">
                <span sysTranslate="pilotApp.sprintAttachment.attachment">Attachment</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (sprintAttachment of sprintAttachments; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/sprint-attachment', sprintAttachment.id, 'view']">{{ sprintAttachment.id }}</a>
              </td>
              <td>
                @if (sprintAttachment.sprint) {
                  <div>
                    <a [routerLink]="['/sprint', sprintAttachment.sprint.id, 'view']">{{ sprintAttachment.sprint.name }}</a>
                  </div>
                }
              </td>
              <td>
                @if (sprintAttachment.attachment) {
                  <div>
                    <a [routerLink]="['/attachment', sprintAttachment.attachment.id, 'view']">{{ sprintAttachment.attachment.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/sprint-attachment', sprintAttachment.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" sysTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/sprint-attachment', sprintAttachment.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" sysTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(sprintAttachment)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" sysTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
