<div>
  <h2 id="page-heading" data-cy="TaskHistoryHeading">
    <span sysTranslate="pilotApp.taskHistory.home.title">Task Histories</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span sysTranslate="pilotApp.taskHistory.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-task-history"
        [routerLink]="['/task-history/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span sysTranslate="pilotApp.taskHistory.home.createLabel">Create a new Task History</span>
      </button>
    </div>
  </h2>

  <sys-alert-error></sys-alert-error>

  <sys-alert></sys-alert>

  <sys-filter [filters]="filters"></sys-filter>

  @if (taskHistories?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span sysTranslate="pilotApp.taskHistory.home.notFound">No Task Histories found</span>
    </div>
  }

  @if (taskHistories && taskHistories.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr sysSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" sysSortBy="id">
              <div class="d-flex">
                <span sysTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" sysSortBy="type">
              <div class="d-flex">
                <span sysTranslate="pilotApp.taskHistory.type">Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" sysSortBy="assignedTo.firstName">
              <div class="d-flex">
                <span sysTranslate="pilotApp.taskHistory.assignedTo">Assigned To</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" sysSortBy="sprint.name">
              <div class="d-flex">
                <span sysTranslate="pilotApp.taskHistory.sprint">Sprint</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" sysSortBy="assignedBy.firstName">
              <div class="d-flex">
                <span sysTranslate="pilotApp.taskHistory.assignedBy">Assigned By</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (taskHistory of taskHistories; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/task-history', taskHistory.id, 'view']">{{ taskHistory.id }}</a>
              </td>
              <td>{{ taskHistory.type }}</td>
              <td>
                @if (taskHistory.assignedTo) {
                  <div>
                    <a [routerLink]="['/party', taskHistory.assignedTo.id, 'view']">{{ taskHistory.assignedTo.firstName }}</a>
                  </div>
                }
              </td>
              <td>
                @if (taskHistory.sprint) {
                  <div>
                    <a [routerLink]="['/sprint', taskHistory.sprint.id, 'view']">{{ taskHistory.sprint.name }}</a>
                  </div>
                }
              </td>
              <td>
                @if (taskHistory.assignedBy) {
                  <div>
                    <a [routerLink]="['/party', taskHistory.assignedBy.id, 'view']">{{ taskHistory.assignedBy.firstName }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/task-history', taskHistory.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" sysTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/task-history', taskHistory.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" sysTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(taskHistory)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" sysTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (taskHistories && taskHistories.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <sys-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></sys-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
