@if (sprintTaskHistory) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(sprintTaskHistory.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="sprintTaskHistoryDeleteDialogHeading" sysTranslate="entity.delete.title">
        Confirm delete operation
      </h4>
    </div>

    <div class="modal-body">
      <sys-alert-error></sys-alert-error>
      <p
        id="sys-delete-sprintTaskHistory-heading"
        sysTranslate="pilotApp.sprintTaskHistory.delete.question"
        [translateValues]="{ id: sprintTaskHistory.id }"
      >
        Are you sure you want to delete Sprint Task History {{ sprintTaskHistory.id }}?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span sysTranslate="entity.action.cancel">Cancel</span>
      </button>

      <button id="sys-confirm-delete-sprintTaskHistory" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span sysTranslate="entity.action.delete">Delete</span>
      </button>
    </div>
  </form>
}
