<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="sys-task-attachment-heading"
        data-cy="TaskAttachmentCreateUpdateHeading"
        sysTranslate="pilotApp.taskAttachment.home.createOrEditLabel"
      >
        Create or edit a Task Attachment
      </h2>

      <div>
        <sys-alert-error></sys-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" sysTranslate="pilotApp.taskAttachment.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_task" sysTranslate="pilotApp.taskAttachment.task">Task</label>
          <select class="form-control" id="field_task" data-cy="task" name="task" formControlName="task" [compareWith]="compareTask">
            <option [ngValue]="null"></option>
            @for (taskOption of tasksSharedCollection; track $index) {
              <option [ngValue]="taskOption">{{ taskOption.title }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_attachment" sysTranslate="pilotApp.taskAttachment.attachment">Attachment</label>
          <select
            class="form-control"
            id="field_attachment"
            data-cy="attachment"
            name="attachment"
            formControlName="attachment"
            [compareWith]="compareAttachment"
          >
            <option [ngValue]="null"></option>
            @for (attachmentOption of attachmentsSharedCollection; track $index) {
              <option [ngValue]="attachmentOption">{{ attachmentOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span sysTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span sysTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
