<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="sys-individual-performance-heading"
        data-cy="IndividualPerformanceCreateUpdateHeading"
        sysTranslate="pilotApp.individualPerformance.home.createOrEditLabel"
      >
        Create or edit a Individual Performance
      </h2>

      <div>
        <sys-alert-error></sys-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" sysTranslate="pilotApp.individualPerformance.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_completedTasks" sysTranslate="pilotApp.individualPerformance.completedTasks"
            >Completed Tasks</label
          >
          <input
            type="number"
            class="form-control"
            name="completedTasks"
            id="field_completedTasks"
            data-cy="completedTasks"
            formControlName="completedTasks"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_velocity" sysTranslate="pilotApp.individualPerformance.velocity">Velocity</label>
          <input type="number" class="form-control" name="velocity" id="field_velocity" data-cy="velocity" formControlName="velocity" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_storyPointsCompleted" sysTranslate="pilotApp.individualPerformance.storyPointsCompleted"
            >Story Points Completed</label
          >
          <input
            type="number"
            class="form-control"
            name="storyPointsCompleted"
            id="field_storyPointsCompleted"
            data-cy="storyPointsCompleted"
            formControlName="storyPointsCompleted"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_party" sysTranslate="pilotApp.individualPerformance.party">Party</label>
          <select class="form-control" id="field_party" data-cy="party" name="party" formControlName="party" [compareWith]="compareParty">
            <option [ngValue]="null"></option>
            @for (partyOption of partiesSharedCollection; track $index) {
              <option [ngValue]="partyOption">{{ partyOption.firstName }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_sprint" sysTranslate="pilotApp.individualPerformance.sprint">Sprint</label>
          <select
            class="form-control"
            id="field_sprint"
            data-cy="sprint"
            name="sprint"
            formControlName="sprint"
            [compareWith]="compareSprint"
          >
            <option [ngValue]="null"></option>
            @for (sprintOption of sprintsSharedCollection; track $index) {
              <option [ngValue]="sprintOption">{{ sprintOption.name }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span sysTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span sysTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
